.container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: min(90%, 800px);
  padding-block: 40px;
}

.item {
  height: 350px;
  width: 250px;
  transition: 0.1s all ease-out;
  border: 1px solid grey;
  border-radius: 7px;
}

.item:hover {
  transform: translateY(-2px);
}

.category {
  font-style: italic;
  margin-block: 15px;
  font-size: 1em;
}

.category::first-letter {
  text-transform: capitalize;
}

.cartButton {
  height: 40px;
  width: 70%;
  cursor: pointer;
  background-color: rgb(105, 143, 49);
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: bold;
  border: none;
}

.cartButton:active {
  opacity: 0.7;
  transform: scale(0.96);
}
