.container {
  height: 7vh;
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding-inline: 40px;
}

.length {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartButton {
  padding: 10px 30px;
  cursor: pointer;
  background-color: rgb(105, 143, 49);
  border: none;
}
